.form__field {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 0 30px 36px;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-color: #ffffff;

  max-width: 358px;
  max-height: 27px;
  outline: none;
}

@media screen and (max-width: 500px) {
  .form__field {
    max-width: 238px;
    margin: 0 0 30px 22px;
  }
}
