.form__field {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  max-width: 430px;
  outline: none;

  display: flex;
  flex-direction: column;
  text-decoration: black;
}

@media screen and (max-width: 500px) {
  .form__field {
    max-width: 282px;
  }
}
