.popup__container {
  max-width: 465px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
  }
}
