.element__caption-name {
  font-size: 24px;
  font-weight: 900;
  line-height: 121%;
  font-style: normal;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  max-width: 219px;
  margin: 0;
  padding: 25px 30px 31px 21px;
  box-sizing: border-box;
}
