.header__logo {
  max-width: 142px;
  width: 100%;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 41px 0;
  padding: 0;
  box-sizing: border-box;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    margin: 0 0 32px 28px;
  }
}
