.elements {
  max-width: 880px;
  min-width: 320px;
  height: 100%;

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 900px) {
  .elements {
    max-width: 650px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .elements {
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}
