.element__image {
  max-width: 282px;
  max-height: 282px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
