.button__add {
  max-width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url("../../../images/Add Button.png");
  border: 0;
  width: 100%;

  position: relative;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 733px) {
  .button__add {
    max-width: 282px;
    height: 50px;
    width: 100%;
    background-image: url("../../../images/Add Button_2.png");
    margin: 0 auto;
    padding: 0;
  }
}
