.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  font-style: normal;
  max-width: 336px;

  color: #ffffff;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 733px) {
  .profile__description {
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
}
